@model WebApplication1.GarbageMaterial

@{
    ViewData["Title"] = "Create";
}

<h1>Створити</h1>

<h4>Матеріали в @ViewBag.GarbageName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdGarbage" class="control-label"></label>
                <select asp-for="IdGarbage" class="form-control" asp-items="ViewBag.IdGarbages"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdMaterial" class="control-label"></label>
                <select asp-for="IdMaterial" class="form-control" asp-items="ViewBag.IdMaterials"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.IdGarbage">Повернутись</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
