@model WebApplication1.Models.User
@{
    ViewData["Title"] = "Лабораторна робота з ІСтаТП 2020. Бібліотека";
}
<link href="~/lib/bootstrap/dist/css/bootstrap_minty.min.css" rel="stylesheet" />



<div class="jumbotron" style="text-align:center">
    <h1 class="display-3">Привіт, любий друже!</h1>
    <p></p>
    <p class="lead">Давай разом берегти нашу природу!</p>
    <div class="card" style="background-position:center">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Якщо ти вперше на сайті, то просимо зареєструватися, або увійти в свій аккаунт:</h6>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="card-text">Ви увійшли як:</p>
                <p class="card-text">@User.Identity.Name</p>
                <a asp-controller="Users" asp-action="ChangePassword" asp-route-Name="@User.Identity.Name">Змінити пароль</a>

                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Вихід" class="btn btn-success"/>
                </form>
            }
            else
            {
                    <a class="card-link nav-link active" style="font-size:large" asp-controller="Account" asp-action="Login">Вхід</a>
                    <a class="card-link nav-link active" style="font-size:large" asp-controller="Account" asp-action="Register">Реєстація</a>
                   }
            </div>
    </div>

    <hr class="my-4">
    <img src="~/css/DSC_2017.jpg" />
    <p></p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/WithWings889/Lab1ISTP" target="_blank" role="button">Go to GitHub</a>
    </p>
</div>





